<div class="card">
  <div class="card-text">
    <h2><%= @question %></h2>
    <h3> - You</h3>
  </div>
</div>

<div class="card answer">
  <div class="card-text ">
    <h2><strong><%= @answer %></strong></h2>
    <h3> - Your coach</h3>
  </div>
</div>


<%= link_to "Ask another question", ask_path %>
